 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }
  
 body {
    background: #bacfe6;
 }
  
 /* header styling with timer and high score link */
 header {
    display: flex;
    height: 100%;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
 }
 a {
    color: #0e2042;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    background-color: rgba(81, 134, 187, 0.4);
    padding: 15px 8px;
    border-radius: 8px;
    box-shadow: -3px 3px 3px black;
 }
  
 a:hover {
    color: #165e88;
    background-color: rgba(59, 68, 75, 0.4);
    font-family: 'Archivo', sans-serif;
 }
  
 .btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
 }
  
 /* timer styling */
 #timer {
    padding: 20px 40px;
    background-color: rgba(28, 98, 168, 0.4);
    font-size: 50px;
    color: rgb(11, 14, 53);
    border-radius: 50px;
    box-shadow: -3px 3px 3px #0e2042;
 }
  
 /* starting screen styling begins */
 #start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
 }
#start p {
    padding: 15px 5px;
    margin: 9px;
}

 #start-button {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 250px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #192531;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
 }
 #start-button:hover {
    background-color: #395169 ;
 }
  
 h1,
 h2 {
    color: #092349;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-align: center;
 }
  

 /* questions styling */
  
 #questionDiv,
 #highScoreSection {
    width: 550px;
    height: 400px;
    position: absolute;
    background: rgb(229, 244, 255);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2px 2px 2px rgba(28, 98, 168, 0.4);
 }
  
 #questionDiv button {
    background:rgba(28, 98, 168, 0.4);
    border: 2px solid #2e5a74;
    border-radius: 5px;
    padding: 20px 60px;
    margin: 15px 25px;
 }
/* final score screen */


#submitInitialBtn {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 90px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #192531;
    margin: 20px 0px;
    position: relative;
    top: 210px;
    left: 385px;
    justify-content: center;
}

 /* high score screen */
#goBackBtn {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #192531;
    margin: 20px 0px;
    position: relative;
    top: 210px;
    left: 25px;
    justify-content: center;
}

#clearHighScoreBtn{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #192531;
    margin: 20px 0px;
    position: relative;
    top: 210px;
    left: 25px;
    justify-content: center;
}

 
 #finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
 }
  
  
 #questionTitle {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
 }
  
 #answerCheck {
    font-style: italic;
    color: #4D5159;
 }
 
